<style>
   .owl-nav {
      display: none !important;
   }
</style>

<div class="row">
   <div class="col-12">
      <div class="owl-slide-3 owl-carousel">
         <div class="course-1-item">
            <figure class="thumnail">
               <a href="course-single.html">
                  <img src="/assets/images/course_1.jpg" alt="Image" class="img-fluid">
               </a>
               <div class="price">400.000 so'm</div>
               <div class="category">
                  <h3>Mobil ilovalarni ishlab chiqish</h3>
               </div>
            </figure>
            <div class="course-1-content pb-4">
               <h2>Android qurilmalar uchun ilovalar ishlab chiqish</h2>
            </div>
         </div>
         <div class="course-1-item">
            <figure class="thumnail">
               <a href="course-single.html">
                  <img src="/assets/images/course_2.jpg" alt="Image" class="img-fluid">
               </a>
               <div class="price">400.000 so'm</div>
               <div class="category">
                  <h3>Frontend dasturlash</h3>
               </div>
            </figure>
            <div class="course-1-content pb-4">
               <h2>Web saytlarning ko'rinishini yaratishni o'rganasiz!</h2>
            </div>
         </div>
         <div class="course-1-item">
            <figure class="thumnail">
               <a href="course-single.html">
                  <img src="/assets/images/course_7.jpeg" style="height: 212px; object-fit: cover" alt="Image" class="img-fluid">
               </a>
               <div class="price">450.000 so'm</div>
               <div class="category">
                  <h3>Backend dasturlash</h3>
               </div>
            </figure>
            <div class="course-1-content pb-4">
               <h2>Web saytlarning asoiy server qismini yaratishni o'rganing!</h2>
            </div>
         </div>
         <div class="course-1-item">
            <figure class="thumnail">
               <a href="course-single.html">
                  <img src="/assets/images/course_4.jpg" alt="Image" class="img-fluid">
               </a>
               <div class="price">250.000 so'm</div>
               <div class="category">
                  <h3>Ingliz tili</h3>
               </div>
            </figure>
            <div class="course-1-content pb-4">
               <h2>Ingliz tilini haqiqiy ustozdan o'rganing!</h2>
            </div>
         </div>
         <div class="course-1-item">
            <figure class="thumnail">
               <a href="course-single.html">
                  <img src="/assets/images/course_6.jpg" alt="Image" class="img-fluid">
               </a>
               <div class="price">300.000 so'm</div>
               <div class="category">
                  <h3>Kompyuter savodxonligi</h3>
               </div>
            </figure>
            <div class="course-1-content pb-4">
               <h2>Kompyuter haqidagi asosiy bilimlarni shu kursda o'rganing!</h2>
            </div>
         </div>
      </div>
   </div>
</div>