<header class="site-navbar py-2 js-sticky-header site-navbar-target shadow-sm" role="banner">
   <div class="container">
      <div class="d-flex align-items-center">
         <div class="site-logo">
            <a href="index.html" class="d-block">
               <img src="/assets/images/logo.png" width="120px" alt="Image" class="img-fluid">
            </a>
         </div>
         <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
               <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                  <li class="active">
                     <a href="#" class="nav-link text-left">Bosh sahifa</a>
                  </li>
                  <li>
                     <a href="#courses" class="nav-link text-left">Kurslar</a>
                  </li>
               </ul>
            </nav>
         </div>
         <div class="ml-auto d-lg-none d-block">
            <div class="social-wrap">
               <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black">
                  <span class="fas fa-bars"></span>
               </a>
            </div>
          </div>
      </div>
   </div>

</header>