<div class="py-2 bg-light">
   <div class="container">
      <div class="row align-items-center justify-content-center">
         <div class="col-lg-12 text-center">
            <a href="#" class="small mr-3">
               <span class="fas fa-question mr-2"></span> Savolingiz bormi?</a>
            <a href="tel:+998990261199" class="small mr-3"><span class="icon-phone2 mr-2"></span> 99 026 11 99</a>
         </div>
      </div>
   </div>
</div>