<style>
   .container-custom {
      margin: 3rem auto;
      max-width: 600px;
      text-align: center;
   }

   .title {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
      font-family: fantasy;
   }

   .description {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      font-family: fantasy;
   }
</style>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
   <div class="container-custom">
      <h1 class="title">Voy, 404 sahifa topilmadi!</h1>
      <p class="description">Kechirasiz, qidirilayotgan sahifani topib boʻlmadi.</p>
   </div>
</div>